    {% extends 'base.html' %} 
{% block main %}
   <div class="first" id="first">
        <div class="first__text container">
            <h1 class="first__header_1">сервис оценки 360</h1>
            <h3>мы на 360 конкурентов!</h3>
        </div>
    </div>
    <div class="content container">
        <h1>Сервис оценки 360</h1>
        <p>Вот уже 15 лет мы помогаем определения готовности участником оценки демонстрировать определенные выбранные критерии, необходимые для успешного выполнения требуемой рабочей деятельности.​! Спасибо, что Вы с нами!</p>

        <img class="content__img" src="/static/img/1.jpg" >
        <h1>Кто мы?</h1>
        <p>сервис оценки 360 - это надёжные сатрудники, гарантированный результат и быстрая работа! Высокоэффективная технология определения готовности участником оценки демонстрировать определенные выбранные критерии, необходимые для успешного выполнения требуемой рабочей деятельности.​</p>
        <img class="content__img" src="/static/img/2.jpg" >
        <h1>как с нами связаться?</h1>
        <p>мы всегда рады новым клиентам, наши операторы работают круглосуточно! Ещё вы можете связаться с нами через <a href="#form">форму</a> и мы обязательно скоординируем Вас дальше!</p>
        <img class="content__img" src="/static/img/3.jpg" >
        <h1>Кто в нашем штате?</h1>
        <p>Мы переманили лучших сотрудников в этой области! В наших радах есть настоящие специалисты, который знакомы со всми мелочами и знают ешё больше хиторстей! И сегодня их подход остается наиболее эффективным инструментом для отбора персонала с высоким потенциалом, чьи способности с высокой вероятностью принесут максимальную пользу для бизнеса.</p>
        <img class="content__img" src="/static/img/4.jpg" >
{% endblock %}