{% extends 'base.html' %} 
{% block main %}
    <div class="first first-contacts" id="first">
        <div class="first__text container">
            <h1>Наши контакты</h1>
        </div>
        <div class="first__addition"></div>
    </div>
    <div class="container">
        <h2>Телефон</h2>
        <p>88005553535</p>
        <h2>E-mail</h2>
        <p>360@mail.ru</p>
        <h2>Адрес</h2>
        <p>г.Город, ул. Улица, дом</p>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae78aba7bc41756205db05fae649fcd206fd973c9ee4fa8c731a3fdacc9a9e903&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
{% endblock %}